@model CorePoint.Service.ViewModel.ViewModelCountries
<div class="pagetitle">
    <div class="card">
        <div class="card-body-head">
            <div class="float-left">
                <h5 class="card-title">Edit Country</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row mt-4">
                        <div class="col-md-1 mt-1">
                            <label asp-for="Name" class="control-label"></label>
                        </div>
                        <div class="col-md-3 mb-2">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-secondary" asp-action="Index"> Back to List </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
        @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
        }
