@model CorePoint.DAL.Models.State
<div class="pagetitle">
    <div class="card">
        <div class="card-body-head">
            <div class="float-left">
                <h5 class="card-title">Create State</h5>
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mt-4">
                        <div class="col-md-3 mb-2">
                            <label asp-for="CountryId" class="control-label"></label>
                            @Html.DropDownListFor(Model => Model.CountryId, new SelectList(ViewBag.CountryList, "Id", "Name"),
                            "-- Select Country --", new { id = "ddCountry", @class="form-control"})
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col mt-4">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
 @section Scripts{
 @{  await Html.RenderPartialAsync("_ValidationScriptsPartial");   }}
