@model CorePoint.DAL.Models.Incident

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SupervisorId" class="control-label"></label>
                <input asp-for="SupervisorId" class="form-control" />
                <span asp-validation-for="SupervisorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrewId" class="control-label"></label>
                <input asp-for="CrewId" class="form-control" />
                <span asp-validation-for="CrewId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncidentType" class="control-label"></label>
                <input asp-for="IncidentType" class="form-control" />
                <span asp-validation-for="IncidentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control"></select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsConfidence" /> @Html.DisplayNameFor(model => model.IsConfidence)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IncidentDate" class="control-label"></label>
                <input asp-for="IncidentDate" class="form-control" />
                <span asp-validation-for="IncidentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBy" class="control-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

