@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CorePoint</title>
    <link href="~/Home/StyleSheet.css" rel="stylesheet">
</head>
<body>
    <div class="center">
        <div class="cookie">
            <div class="front" id="front">
                <h1>CorePoint</h1>
                <p>
                    Empower your Employees Protect your Business.
                    We provide the tools to make effective changes to your employee health & safety processes.
                </p>
                <div class="button_group">
                    <a href="~/Account/Login" class="allow">login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
